#customers {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: cornflowerblue;
    color: white;
  }

  table {
      border:none;
  }

  .download {
    text-align: center;

  }

  .download > a {
    color: blue;
  }

  .datesheet {
      margin:50px;
  }

  .odd-sem > h1 {
      margin-bottom: 30px;
      font-weight: 500;
  }

  .odd-sem > table {
      margin-bottom: 70px;
  }

  .odd-sem > h1:hover {
      color:red;
  }