.update-content {
    background: #fff;
    float: left;
    height: auto;
    position: relative;
    width: 50%;
    z-index: 2;
}

.update-header {
    height: auto;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.update-header> h2 {
    padding-top:30px;
    font-weight: 1;
    color:gray;
}

.update-header > hr  {
    border-bottom: 2px solid gray;
    width:5vw;
    margin-top: 10px;
}

.update-header > p {
    padding-bottom: 30px;
    text-transform:uppercase;
    font-size: 20px;
}

.update-footer-01 {
    background-color: #272f38;
    height:100px;

}

.update-footer-02 {
    display: flex;
    justify-content: space-between;
    padding:40px;
    font-weight: 1;
    color: gray;
    font-size: 16px;
}

.update-footer-03 {
    background-color:lightgray;
    margin-top:80px;
    height:140px;
}

.update-footer-03 > button {
    height:50px;
     width:150px;
    background-color: cornflowerblue;
    border:none;
    border-radius: 5px;
    outline-width: 0;
    cursor: pointer;
    margin-top: 20px;
    color:white;
    font-size: 14px;
    margin-left: 50px;
    margin-top:45px
}
